@import "src/styles/global/_global.scss";

.company-employee-container {
  margin: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;

  .header {

    span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .group-action {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    .button-import {
      margin: 24px 0;
    }

    a {
      text-decoration: underline;
      color: rgb(19, 19, 226);
      cursor: pointer;
    }
  }

  .content {
    margin: 24px;

    .employee-table {

      .button-icon {
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .table-content {
        display: block;
        width: 100%;
        overflow-x: auto;
      }
    }
  }
}