$ems-primary: #006666;
$ems-primary-dark: #003B3C;

$ems-primary-label-color: #686868;
$ems-primary-button-background-color: #001983;
$ems-primary-button-text-color: #ffffff;
$ems-background-input-text: #eeeeee;
$ems-color-input-text: #5f5f5f;
$ems-primary-border-color: #d4d5d6;
$ems-hover-background-color: #EBF4FB;

$ems-select-border-color: #757575;
$ems-background-area: #f5f5f5;
$ems-text-confirm-color: #1954a9;

$ems-odd-item-color: #f5f5f5;
$ems-active-item-color: #bad0ed;
$ems-error-color: #f44336;
$ems-success-color: #28a745;
$ems-infor-color: #40a9ff;
$ems-warning-color: #ffc107;
$ems-text-dark: #343a40;
$ems-text-white: #fff;
$ems-disabled-input-background-color: #e1e1e1;
$ems-blur-text-color: #9a9a9a;
$ems-checkbox-color: #b13514;
$ems-background-conflict-info: #f4e9e5;
$ems-user-bacground: #818181;
$ems-administrator-bacground: #818181;
$ems-dashboard-bacground: #952702;
$ems-devition-bacground: #00804c;
$ems-risk-background: #952702;
$ems-operation-background: #f5eae6;
$ems-custom-annual-bacground: #cf4717;
$ems-tab-active-background: #d4d6e0;
$ems-child-selected-background: #f3f5fa;
$ems-selected-row: #ececec;
$ems-blur-background-color: #fafafa;
$ems-blur-border-color: #e0e0e0;
$ems-location-toggle-icon: #919191;
$ems-radio-toggle-main-color: #3f51b5;
$ems-radio-toggle-pr-color: #97a0d7;
$ems-border-info-bacground: #952702;
$ems-tab-button-color: #6e798f;
$ems-tab-button-background-color: #f4f5f7;
$ems-tab-button-active-color: #eef0f3;
$ems-tab-button-active-background-color: #505f79;
$ems-background-light-green: #e7f2ee;
$ems-color-light-green: #416259;
$ems-hover-radio-background: rgba(207, 71, 20, 0.12);
$ems-tab-group-item-active: #1954a9;
$ems-substitution-comment-background: rgba(0, 0, 0, 0.04);
$ems-substitution-comment-editable-background: rgba(62, 87, 183, 0.12);
$ems-popup-title: #323232;
$ems-selected-ems: #E5EEFB;
$ems-close-icon-enabled: #666666;
$ems-close-icon-hover: rgba(0, 0, 0, 0.08);
$ems-close-icon-pressd: rgba(0, 0, 0, 0.24);
$ems-warning-notification: rgba(228, 207, 83, 0.3);
$ems-blue-text-color: #144285;
$ems-info-alert-content: #00345B;
$ems-info-alert-background: #E5EEFB;
$ems-secondary: #5A5A5A;
$highlighted-text-background-color: #ffeb3b;
$highlighted-text-color: #202124;
$warning-text-color: #74280B;
$success-text-color: #005935;

//
$border-color: #d4d5d6;
$blur-background-color: #fafafa;
$focus-background: #e5eefb;
$blur-border-color: #e0e0e0;
$focus-border-color: #e0e0e0;
//

// Primary
$primary: #0163b2;
$primary-light: #5590e5;
$primary-dark: #002e68;
$primary-contained-hover-bg: #01457d;
$primary-outlined-hover-bg: #e6eff7;
$primary-outlined-border: #80b1d8;

// Text
$text-primary: #323232;
$text-secondary: #5a5a5a;
$text-disabled: #adadad;

// Background
$bg-primary: #0163b2;
$bg-primary-01: #ebf3f9;
$bg-primary-02: #d6e6f3;
$bg-gray-01: #f5f5f5;
$bg-gray-02: #ebebeb;

// Error
$error: #c62828;
$error-dark: #8e0000;
$error-light: #ff5f52;
$error-contained-hover-bg: #8b1c1c;
$error-outlined-hover-bg: #faeeee;
$error-outlined-border: #e29393;
$error-content: #771818;
$error-bg: #f9e9e9;

// Info
$info: #0074c9;
$info-dark: #004998;
$info-light: #5ba2fd;
$info-light-primary: #edf7ed;
$info-contained-hover-bg: #00518d;
$info-outlined-hover-bg: #ebf4fb;
$info-outlined-border: #80b9e4;
$info-content: #00345b;
$info-bg: #e5f1fa;
$info-deactive: #e6e6e6;
// Action
$action-active: #707070;
$action-hover: #ebebeb;
$action-selected: rgba(1, 99, 178, 0.12);
$action-disabled: #bdbdbd;
$action-disabled-bg: #e6e6e6;
$action-focus: #e0e0e0;


// Warning
$warning: #e4cf53;
$warning-dark: #af9e1f;
$warning-light: #ffff84;
$warning-contained-hover-bg: #a0913a;
$warning-outlined-hover-bg: #efe298;
$warning-outlined-border: #f7f1cb;
$warning-content: #675d25;
$warning-bg: #f7f1cb;