<div class="employee-info-container">
  <div class="content row">
    <div class="left-content col-1">
    </div>
    <div class="right-content col-10">
      <div class="container--name">
        <p class="name">{{userData.fullName}}</p>
        <p class="sub-text">EC-{{userData.code}}</p>
      </div>
      <p class="sub-text">{{userData.role | getRoleEmployee}} </p>
      <div class="line"></div>
      <p class="title">General information</p>
      <div class="container--general row">
        <div class="left col-6">
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword mr-8">Age:</p>
              <p>{{userData.age}}</p>
            </div>
            <div class="d-flex col-8">
              <p class="keyword mr-8">Gender:</p>
              <p>{{userData.gender}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Started Date:</p>
            </div>
            <div class="col-8">
              <p>{{userData.statedDate | date}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Role:</p>
            </div>
            <div class="col-8">
              <p>{{userData.role | getRoleEmployee}}</p>
            </div>
          </div>
        </div>
        <div class="right col-6">
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Division:</p>
            </div>
            <div class="col-8">
              <p>{{userData.office}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Department:</p>
            </div>
            <div class="col-8">
              <p>{{userData.department}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Team:</p>
            </div>
            <div class="col-8">
              <p>{{userData.team}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <p class="title">Personal information</p>
      <div class="container--personal row">
        <div class="left col-6">
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword mr-8">Date of Birth</p>
            </div>
            <div class="d-flex col-8">
              <p>{{userData.birthday | date}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Address</p>
            </div>
            <div class="col-8">
              <p>{{userData.address}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Phone:</p>
            </div>
            <div class="col-8">
              <p>{{userData.phone}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Email:</p>
            </div>
            <div class="col-8">
              <p>
                {{userData.email}}
              </p>
            </div>
          </div>
        </div>
        <div class="right col-6">
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">Nationality:</p>
            </div>
            <div class="col-8">
              <p>{{userData.nation}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">
                Bank name:</p>
            </div>
            <div class="col-8">
              <p>{{userData.bankName}}</p>
            </div>
          </div>
          <div class="item row">
            <div class="d-flex col-4">
              <p class="keyword">
                Account No.:</p>
            </div>
            <div class="col-8">
              <p>{{userData.bankNo}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-content col-1">
    </div>
  </div>
</div>