<div class="employee-info-container">
  <div class="content row">
    <div class="left-content col-3">
      avatar
    </div>
    <div class="right-content col-9 ">
      <div class="container--name">
        <p class="name">MAI THANH PHÚC</p>
        <p class="sub-text">EC-235</p>
      </div>
      <p class="sub-text">Member</p>
      <div class="line"></div>
      <p class="title">General information</p>
      <div class="container--general">
        <div class="info-line">
          <div class="sp sp1">
            <p class="keyword">Age:</p>
            <p>22</p>
          </div>
          <div class="sp sp2">
            <p class="keyword">Gender:</p>
            <p>Male</p>
          </div>
        </div>
        <div class="info-line">
          <p class="keyword">Division:</p>
          <p>Netpower Vietnam</p>
        </div>
        <div class="info-line">
          <p class="keyword">Started Date:</p>
          <p>05/09/2022</p>
        </div>
        <div class="info-line">
          <p class="keyword">Department:</p>
          <p>NBS</p>
        </div>
        <div class="info-line">
          <p class="keyword">Role:</p>
          <p>Member</p>
        </div>
        <div class="info-line">
          <p class="keyword">Team:</p>
          <p>ROB</p>
        </div>
      </div>
      <div class="line"></div>
      <p class="title">Personal information</p>
      <div class="container--personal">
        <div class="info-line">
          <p class="keyword">Date of Birth:</p>
          <p>07/07/2001</p>
        </div>
        <div class="info-line">
          <p class="keyword">Nationality:</p>
          <p>Vi?t Nam</p>
        </div>
        <div class="info-line">
          <p class="keyword">Address:</p>
          <p>Khu phố Tân Hòa, P.Đông Hòa, TP.Dĩ An, Bình Dương</p>
        </div>
        <div class="info-line">
          <p class="keyword">Bank name:</p>
          <p>Vietcombank</p>
        </div>
        <div class="info-line">
          <p class="keyword">Phone:</p>
          <p>0377246707</p>
        </div>
        <div class="info-line">
          <p class="keyword">Account No.:</p>
          <p>9377246707</p>
        </div>
        <div class="info-line">
          <p class="keyword">Email:</p>
          <p>phuc.mai@netpower.no</p>
        </div>
      </div>
    </div>
  </div>
</div>