@import "src/styles/global/_global.scss";

.leave-type-container {
  margin: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 18px;
      font-weight: 700;
    }

    .button-action {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    .button-add-emp {
      margin: 16px 0;
    }
  }

  .content {
    margin: 24px;

    .department-table {
      .mat-column-action {
        flex: none;
      }

      .button-icon {
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mat-mdc-header-cell,
      .mat-mdc-cell {
        text-align: center;
      }

      .mat-column-code,

      .mat-column-allowance {
        flex: none;
        width: 150px;
        min-height: 50px;
      }

      .mat-column-name {
        flex: none;
        width: 200px;
        min-height: 50px;
      }
    }
  }
}