@import "src/styles/global/_color.scss";

.drawer-content {
  background: #e9ecef;
}

.drawer-container {
  height: 100%;
}

.work-log-timesheet-container {
  margin: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;



  .header {

    span {
      font-size: 18px;
      font-weight: 700;
    }

    .button-add-emp {
      margin: 16px 0;
    }
  }

  .content {
    .action-group {
      margin-top: 16px;
      display: flex;
      flex-direction: column;

      // justify-content: space-between;
      // align-items: center;
      .mat-calendar-period-button {
        pointer-events: none;
      }

      .mat-calendar-arrow {
        display: none;
      }


      .filter {
        display: flex;
        gap: 8px;

        ::ng-deep .mat-mdc-form-field-infix {
          padding: 12px 4px !important;
          min-height: 46px;
        }

      }

      .button-group {
        margin: 24px;
        display: flex;
        gap: 16px;
        justify-content: end;

        .btn-item {
          display: flex;
          gap: 8px;
          padding: 8px;
          border: 1px solid $border-color;
          border-radius: 4px;
          background-color: $primary;
          color: $ems-primary-button-text-color;
          cursor: pointer;
        }

        button:disabled {
          cursor: default;
          background-color: $bg-gray-01;
          color: $text-disabled;
        }
      }
    }

    .department-table {
      .mat-column-action {
        flex: none;
      }

      .mat-mdc-header-cell,
      .mat-mdc-cell {
        text-align: center;
      }

      .mat-column-code {
        flex: none;
        width: 150px;
        min-height: 50px;
      }

      .mat-column-name {
        flex: none;
        width: 200px;
        min-height: 50px;
      }

      .box-status {
        padding: 8px;
        background-color: #f3f04a;
        border-radius: 4px;
        font-weight: 600;
      }

      .checked {
        background-color: #4af353;
      }
    }

  }
}