.box {
  border: 1px solid;
  text-align: center;
  padding: 8px 6px;
  border-radius: 8px;
  width: 150px;
  display: inline-block;
}

.purple {
  border-color: #d903b5;
  color: #d903b5;
}

.orange {
  border-color: #e7a440;
  color: #e7a440;
}

.green {
  border-color: #00804c;
  color: #00804c;
}

.blue {
  border-color: #75a4fc;
  color: #75a4fc;
}

.red {
  border-color: #cf2c17;
  color: #cf2c17;
}