.dashboard-container {
  .greeting {
    height: 100px;
    z-index: 0;

    &-content {
      width: 100%;
      padding: 16px;
      background-color: #927474;
      border-radius: 0 0 16px 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #fff;
      font-style: normal;

      &-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 48px;
      }

      &-sub-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
      }
    }
  }

  .dashboard-content {
    display: flex;
    flex-direction: row;
    margin: 16px 8px;
  }

  .dashboard-absent {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;

    &-header {
      font-size: 18px;
      font-weight: 700;
    }

    .divider {
      width: 100%;
      height: 0px;
      left: 0px;
      margin-top: 16px;
      border-top: 0.5px solid #000000;
    }
  }

  .dashboard-table {
    .mat-mdc-table {
      box-shadow: none;
    }

    .mat-column-date {
      flex: none;
      width: 80px;
    }


  }
}