@import "src/styles/global/_color.scss";
@import "src/styles/global/_size.scss";
@import "src/styles/global/_global.scss";
// @import "../node_modules/angular-calendar/css/angular-calendar.css";

.main-container {
  overflow-x: hidden;
  height: 100vh;
  background: #e9ecef;
  display: flex;
}

.right-content {
  position: relative;
  width: 100%;
  margin-top: 60px;
  height: calc(100% - 60px);
  width: calc(100% - 250px);
  transition: 0.4s;
  margin-left: $side-bar-max-width;
}

.main-sm {
  padding-left: 60px;
}

.main-md {
  padding-left: 300px;
}