<div class="add-edit-leave-type-container">

  <div class="header">
    <div class="title">Leave Type Management</div>
    <div class="">
      <button tabindex="-1" mat-icon-button color="light" (click)="closePopup()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="form-body" [formGroup]="leaveTypeDataFormGroup">
    <mat-form-field appearance="fill" class="d-block">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="leaveTypeData.name" [formControlName]="'name'" required id="name" type="text" matInput>
      <mat-error>Invalid input
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="d-block">
      <mat-label>Allowance</mat-label>
      <input [(ngModel)]="leaveTypeData.default" [formControlName]="'default'" required id="default" type="number"
        matInput>
      <mat-error>Invalid input
      </mat-error>
    </mat-form-field>

    <mat-label>Description</mat-label>
    <ckeditor [editor]="editor" [(ngModel)]="leaveTypeData.description" [data]="leaveTypeData.description"></ckeditor>
    <!-- <textarea style="height: 250px;" [(ngModel)]="leaveTypeData.description" [formControlName]="'description'"
        required id="Description" type="text" matInput></textarea> -->
    <!-- <mat-error>Invalid input
    </mat-error> -->

  </div>
  <div class="footer d-flex justify-content-end mt-16">
    <button id="btn-save" mat-flat-button color="primary" [style.width.px]='100' (click)="onSubmitForm()">
      {{isEdit ? "Edit" : "Save"}}
    </button>
  </div>
</div>