@import "src/styles/global/_global.scss";

.calculate-salary-container {
  margin: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .keyword {
    color: #414141;
    font-size: 14px;
    font-weight: 500;
  }

  .container--general {
    .group-action {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .group-button {
        display: flex;
        gap: 16px;
      }
    }

  }

  .work-log-table {

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      text-align: center;
    }

    .mat-column-code {
      flex: none;
      width: 100px;
    }

    .mat-column-team,
    .mat-column-name {
      flex: none;
      width: 170px;
    }

    .mat-column-date,
    .mat-column-time {
      flex: none;
      width: 120px;
    }

    .mat-column-status {
      flex: none;
      width: 200px;
    }

  }

  .status {
    .box {
      padding: 10px;
      border-radius: 4px;
    }

    .valid {
      background-color: rgb(122, 241, 122);
    }

    .invalid {
      background-color: rgb(241, 130, 122);
    }
  }

  .mb-16 {
    margin-bottom: 16px;
  }

  .button-cancel {
    margin-right: 8px;
    font-weight: 600;
    font-size: 16px;
  }

}