<div class="add-edit-emp-container">
  <div class="content" [formGroup]="employeeDataFormGroup">
    <div class="header">
      {{isEdit ? "Edit Employee" : "Add Employee"}}
    </div>
    <div class="divider"></div>
    <div class="basic-info">
      <div *ngFor="let temp of allDataEmployee" class="row">
        <div *ngIf="temp.isLabel" class="sub-header">
          {{temp.label}}
        </div>
        <div *ngFor="let item of temp.fields" class="field-item col-3">
          <ng-container *ngIf="item.isDate; else selectOptions">
            <mat-label>{{item.label}}</mat-label>
            <mat-form-field>
              <input [formControlName]="item.key" [(ngModel)]="item.value" matInput [matDatepicker]="picker"
                [required]="item.isRequired">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ng-container>

          <ng-template #selectOptions>
            <ng-container *ngIf="item.isOption; else default">
              <mat-label>{{item.label}}</mat-label>

              <mat-form-field *ngIf="item.isCustomOption">
                <mat-select (selectionChange)="onChangeSelectItems($event, item)" [required]="item.isRequired"
                  [(ngModel)]="item.value" [formControlName]="item.key">
                  <mat-option *ngFor="let option of item.options" [value]="option.id">{{option.text}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="!item.isCustomOption">
                <mat-select [required]="item.isRequired" [(ngModel)]="item.value" [formControlName]="item.key">
                  <mat-option *ngFor="let option of item.options" [value]="option.id">{{option.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </ng-template>

          <ng-template #default>
            <mat-label>{{item.label}}</mat-label>
            <mat-form-field *ngIf="!item.isPassword">
              <input [required]="item.isRequired" [type]="item.isCustomType ? item.type : 'text'" matInput
                [value]="item.value" [formControlName]="item.key" [(ngModel)]='item.value'>
              <mat-error *ngIf="getFormControlByKey(item.key).touched">Invalid input
              </mat-error>
            </mat-form-field>
            <div *ngIf="item.isPassword" class="password_field">
              <mat-form-field class="w-100">
                <input *ngIf="item.isPassword" readonly="true" [type]="hidePassword ? 'password' : 'text'" matInput
                  [value]="item.value" [formControlName]="item.key" [(ngModel)]='item.value' />
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <button class="button-icon" mat-icon-button (click)="onChangePassword()">
                <mat-icon>change_circle</mat-icon>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="group-button">
      <button mat-button color="primary" class="button-cancel" (click)="cancel()">
        Cancel
      </button>
      <button mat-flat-button color="primary" class="button-save" (click)="save()">
        Save
      </button>
    </div>
    <div class="leave-type">
      <div class="sub-header">
        Leave Type Management
      </div>
      <button [disabled]="!employeeId" mat-flat-button color="primary" (click)="onSelectLeaveType()">Add Leave
        Type</button>
      <div>
        <mat-table class="leaveTypeTable" #table [dataSource]="leaveTypeEmployeeData">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Leave Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.leaveType.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.total}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remaining">
            <mat-header-cell *matHeaderCellDef> Remaining </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.remain}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="taken">
            <mat-header-cell *matHeaderCellDef> Taken </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <input type="number" (change)="caculateDataLeaveTypeEmp(element)" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="element.taken" [readonly]="!element.isEdit" [class.active-input]="element.isEdit" matInput
                value={{element.taken}}>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bonus">
            <mat-header-cell *matHeaderCellDef> Bonus </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <input type="number" (change)="caculateDataLeaveTypeEmp(element)" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="element.bonus" [readonly]="!element.isEdit" [class.active-input]="element.isEdit" matInput
                value={{element.bonus}}>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="paid">
            <mat-header-cell *matHeaderCellDef> Paid </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <input type="number" (change)="caculateDataLeaveTypeEmp(element)" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="element.paid" [readonly]="!element.isEdit" [class.active-input]="element.isEdit" matInput
                value={{element.paid}}>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="forward">
            <mat-header-cell *matHeaderCellDef> Forward </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <input type="number" (change)="caculateDataLeaveTypeEmp(element)" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="element.forward" [readonly]="!element.isEdit" [class.active-input]="element.isEdit"
                matInput value={{element.forward}}>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="button-icon" (click)="onChangeStatus(element)">
                <mat-icon *ngIf="!element.isEdit">
                  edit
                </mat-icon>
                <mat-icon *ngIf="element.isEdit">
                  save
                </mat-icon>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>

<app-loading [manualLoadingInput]="isLoading"></app-loading>