@import "src/styles/global/_color.scss";

.add-edit-emp-container {
  height: 100%;

  .content {
    margin: 24px;
    background-color: $ems-primary-background;
    border-radius: 8px;
    padding: 16px 24px;
  }

  .field-item {
    display: flex;
    flex-direction: column;
  }

  .leaveTypeTable {
    input {
      width: 50px;
      border: none;
      outline: none;
    }

    .active-input {
      border-bottom: 1px dashed #000;
    }

    // .mat-column-leaveTypeName {
    //   flex: none;
    //   width: 150px;
    // }

    // .mat-column-total,
    // .mat-column-default,
    // .mat-column-remaining,
    // .mat-column-taken,
    // .mat-column-bonus,
    // .mat-column-paid,
    // .mat-column-forward {
    //   flex: none;
    //   width: 120px;
    // }

    // .mat-column-action {
    //   flex: none;
    // }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: rgb(255, 255, 255);
      /* background-color: white; */
    }

  }

  .button-icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-icon:hover {
    background-color: rgb(223, 223, 223);
  }
}