.leave-request-form-container {
  padding: 25px;

  .form-item {
    display: flex;
    flex-direction: column;

    textarea {
      resize: vertical;
      max-height: 180px;
      min-height: 80px;
    }
  }

  .mat-mdc-form-field-error {
    font-size: 12px;
  }

  .leave-button {
    display: flex;
    gap: 16px;
    text-align: right;
  }
}