<div class="leave-request-form-container">
  <div class="leave-request-form" [formGroup]="leaveRequestFormGroup">
    <div class="row leave-type">
      <div class="form-item col-10">
        <mat-label>Leave Type</mat-label>
        <mat-form-field>
          <mat-select [(ngModel)]="leaveRequestData.leaveType" [required]="true" [formControlName]="'leaveType'">
            <mat-option *ngFor="let option of leaveTypeOptions" [value]="option.id">{{option.text}}</mat-option>
          </mat-select>
          <mat-error>Field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row leave-time-date">
      <div class="form-item col-5">
        <mat-label>Date</mat-label>
        <mat-form-field>
          <input [(ngModel)]="leaveRequestData.date" [formControlName]="'date'" [required]="true" matInput
            [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-item col-5">
        <mat-label>Time</mat-label>
        <mat-form-field>
          <mat-select [(ngModel)]="leaveRequestData.timeType" [required]="true" [formControlName]="'time'">
            <mat-option *ngFor="let option of allLeaveTypeOptions" [value]="option.id">{{option.text}}</mat-option>
          </mat-select>
          <mat-error>Field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row leave-reason">
      <div class="form-item col-10">
        <mat-label>Reason</mat-label>
        <mat-form-field>
          <textarea [(ngModel)]="leaveRequestData.reason" [required]="true" [formControlName]="'reason'"
            matInput></textarea>
          <mat-error>Field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class=" leave-button">
      <button mat-button>
        Reset
      </button>
      <button (click)="createLeaveRequset()" mat-flat-button color="primary">
        Submit
      </button>
    </div>
  </div>
</div>