<div class="toolbar-container" role="banner">
  <div class="left-content">
    <button #menu class="collapse-icon" (mouseout)="onMouseOut()" (mousedown)="onMouseDown()" (click)="onClicked()"
      mat-icon-button>
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span>Employee Management Leave Request</span>
  </div>
  <div class="right-content">
    <div mat-button [matMenuTriggerFor]="account" class="button">
      <div class="icon">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="info">
        <span class="name">Admin</span>
        <span class="code">code 202</span>
      </div>
    </div>
    <mat-menu #account="matMenu" class="mat-menu-account">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        My profile
      </button>
      <button mat-menu-item>
        <mat-icon>cached</mat-icon>
        Change password
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>

</div>