@import "src/styles/global/_color.scss";

.spacer {
  flex: 1;
}

.toolbar-container {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $ems-primary-dark;
  color: $ems-primary-button-text-color;
  font-weight: 600;
  position: fixed;
  width: 100%;
  z-index: 999;
  justify-content: space-between;

  .collapse-icon {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

    &:focus {
      outline: none;
      background: rgba(255, 255, 255, 0.12);
      border: 1px solid #ffffff;
    }

    &:hover {
      border-radius: 50%;
      background-color: #ffffff20;
      background: rgba(255, 255, 255, 0.12);
    }
  }

  .left-content {
    display: flex;
    align-items: center;
  }

  .right-content {
    margin-right: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .button {
      display: flex;
      gap: 8px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
          width: 34px;
          height: 34px;
          font-size: 34px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: bold;
          font-size: 14px;
        }

        .code {
          font-size: 11px;
          color: #8a92a6;
        }
      }
    }
  }

  .mat-menu-account {
    mat-mdc-menu-item-text {
      font-size: 12px;
    }
  }
}