<div class="simple-popup-container">
  <div class="header" *ngIf="data?.title">
    <h5>{{ data.title }}</h5>
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </div>
  <div mat-dialog-content class="text-break">
    <p [innerHTML]="data.content"></p>
  </div>
  <div class="btn-group c-btn-group-simple-confirm" mat-dialog-actions>
    <button mat-button class="btn-action" *ngIf="showCancelButton"
      [mat-dialog-close]="false">{{data.cancelButton}}</button>
    <button mat-flat-button color="primary" class="btn-action" [mat-dialog-close]="true"
      cdkFocusInitial>{{data.submitButton}}</button>
  </div>
</div>