<div class="leave-request-container">
  <div class="leave-request-content">
    <div class="leave-request-header">
      <span class="title">Leave Request</span>
    </div>

    <div class="leave-request-form">
      <section>
        <app-leave-request-form></app-leave-request-form>
      </section>
    </div>

    <div class="leave-request-table">
      <div class="header">
        <span>
          My Requests
        </span>
        <mat-form-field appearance="outline">
          <input [(ngModel)]="keyword" (change)="onSearchKeyword()" matInput placeholder="Search">
          <mat-icon class="cusor-pointer" matIconPrefix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="divider"></div>
      <div class="leave-request-table__body">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}}</td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
            <td mat-cell *matCellDef="let row"> {{row.department?.name}} </td>
          </ng-container>

          <ng-container matColumnDef="leader">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Leader </th>
            <td mat-cell *matCellDef="let row"> {{row.leader?.fullName}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <span [matMenuTriggerFor]="menu" class="button-icon">
                <mat-icon>
                  more_vert
                </mat-icon>
              </span>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>
                    edit
                  </mat-icon>
                  Edit
                </button>
                <button mat-menu-item>
                  <mat-icon>
                    archive
                  </mat-icon>
                  Archive
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
          </tr>
        </table>
        <mat-paginator (page)="handlePageEvent($event)" [pageSizeOptions]="pageSizeOptions" [length]="countAllData"
          [pageIndex]="pageIndex" [pageSize]="pageSize" aria-label="Select page of users"></mat-paginator>
      </div>

    </div>
  </div>
</div>