@import "src/styles/global/_color.scss";

.leave-request-container {
  padding: 24px;
  height: 100%;

  .leave-request-content {
    border-radius: 8px;
    background-color: $ems-primary-background;
    padding: 12px;
  }

  .leave-request-header {
    padding: 8px 16px 16px;
    border-bottom: 1px solid #00000B;
  }

  .leave-request-form {}

  .leave-request-table {
    .header {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;

      span {
        font-size: 18px;
        font-weight: 700;
      }

      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    &__body {
      padding: 24px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 18px;
  }
}