.login-modal-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.login-modal-container {
  border-radius: 8px;
  height: 60%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .login-modal-content {
    width: 50%;
  }

  .header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  button {
    width: 100%;
  }
}