<section class="login-modal-section">
  <div class="login-modal-container">
    <div class="login-modal-content" [formGroup]="loginFormGroup">
      <div class="d-flex justify-content-center">
        <img class="img_logo" [src]="iconPath" />
      </div>
      <div class="header">Login</div>
      <mat-form-field appearance="fill" class="d-block">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="employeeData.email" [formControlName]="'email'" required id="email" type="email" matInput>
        <mat-error class="error" *ngIf="getFormControlByKey('email').touched">Invalid input
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="d-block">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="employeeData.password" [formControlName]="'password'" required id="password" type="password"
          (keyup.enter)="onSubmitForm()" matInput>
        <!-- <mat-error *ngIf="getFormControlByKey('password').touched">Invalid input
        </mat-error> -->
      </mat-form-field>
      <p *ngIf="errorMsg" class="error">{{errorMsg}}</p>
      <button mat-flat-button color="primary" (click)="onSubmitForm()">Login</button>
    </div>

  </div>
</section>

<app-loading [manualLoadingInput]="isLoading"></app-loading>