// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "../node_modules/angular-calendar/css/angular-calendar.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Frontend-KLTN-primary: mat.define-palette(mat.$indigo-palette);
$Frontend-KLTN-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Frontend-KLTN-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Frontend-KLTN-theme: mat.define-light-theme((color: (primary: $Frontend-KLTN-primary,
        accent: $Frontend-KLTN-accent,
        warn: $Frontend-KLTN-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Frontend-KLTN-theme);

/* You can add global styles to this file, and also import other style files */
@import "styles/global/_color.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.toast-success {
  --mdc-snackbar-container-color: #28a745;
  --mat-snack-bar-button-color: #fff;
}

.toast-infor {
  --mdc-snackbar-container-color: #40a9ff;
  --mat-snack-bar-button-color: #fff;
}

.toast-warning {
  --mdc-snackbar-container-color: #ffc107;
  --mat-snack-bar-button-color: #343a40;
}


.mat-snack-bar-container-custom {
  margin: 74px 24px 24px 24px !important;
}